a {
    margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar .login-button {
  text-align: right;
  padding-right: 0;
}

.navbar .signup-button {
  padding-left: 0;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}
