a {
    margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.landing-main-container{
    height:100%;
    min-width:100%;
    padding:0;
    position:absolute;
}

.landing-main-container .top-row{
    height:100%;
    width:100%;
    margin:0;
    background: -webkit-linear-gradient(45deg, #67B1C3 10%, #084A6B);
    background: linear-gradient(45deg, #67B1C3 10%, #084A6B );

}

.landing-main-container .tagline{
    font-family:"Helvetica Neue", Helvetica, Arial, Verdana, "Trebuchet MS";
    font-size: 3em;
    font-weight:bold;
    text-align: left;
    line-height: 110%;
}

.landing-main-container .signup-button{
    border-style: solid;
}

.landing-main-container .floating-button{
    position:fixed;
    bottom: 5%;
    right:3%;

}

.login-button {
  text-align: right;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}
