/* Profile Info Styles */

.profile-page {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.profile-page .profile-info {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.profile-info .profile-info-row {
    display: flex;
}

.profile-info .avatar-container {
    display: flex;
    justify-content: flex-end;
}

.profile-info .user-description-container {
    margin: auto;
}


/* Statistical Overview Styles */

.profile-page .statistical-overview .bar-graph {
    margin-top: 2em;
}
